<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Fritz Game Engine</title>
    <style>
      body, main, canvas {
        margin: 0;
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <main id="main-content">
      <canvas id="fritz-canvas"/>
    </main>
  </body>
</html>